<div>
  <div (click)="goBack()"
       class="cursor-pointer p-2 mb-3 bg-surface-mixed-400 rounded-xl w-max hover:text-primary-600 text-center">
    GO BACK
  </div>
  <h1 class="text-3xl text-center text-primary-600 mb-6">SETS</h1>
  <div class="flex items-center mb-6">
    <p class="mr-2">Filter by set: </p>
    <input [(ngModel)]="searchTermSet"
           class="rounded-xl p-2"
           placeholder="Search by name"/>
  </div>
  <div class="grid grid-cols-1 gap-10 md:grid-cols-3 lg:grid-cols-6">
    @for (set of magicSets; track set.id) {
      @if (onFilter(set, searchTermSet)) {
        <div class="mb-6">
          <div (click)="onSetClick(set)"
               class="w-full h-full flex flex-col items-center justify-between mb-3 cursor-pointer p-2 bg-surface-mixed-400 rounded-xl hover:text-primary-600">
            <img [src]="set.icon_svg_uri"
                 [alt]="set.name"
                 class="mb-3"
                 width="80"
                 alt="80"/>
            <p class="text-center">{{ set.name }}</p>
          </div>
        </div>
      }
    }
  </div>
</div>
